body {
    background-color: #111;
    color: wheat;
    font-size: 18px;
}
.main {
    display: grid;

    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-inline: 10%;
    color:white;
    margin-inline: auto;
    padding-block: 2rem;
    width: min(70rem, 95%);
}

@media (min-width: 60em){
    .main {
    grid-template-columns: repeat(4, 1fr);
    }
    .main div:nth-child(4){
        grid-column: span 2;
    }
    
    .main div:nth-child(3){
        grid-column: span 2;
    }
    
    .main div:last-child{
        grid-column: span 2;
    }
}
.main div {
    background-color: #222;
    border-radius: 5px;
    
    padding-block: 2rem;
}
h1 {
    text-align: center;
    margin-block: 2rem;
}
li a {
    color: white;
    text-decoration: none;
}
ul {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    line-height: 2.5rem;
    border: 1px solid yellowgreen;
    margin: 0;
    padding:0;
}
li {
    flex-grow: 1;
    /* border: 1px solid yellow; */
    text-align: center;
}
canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}